@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Community Assist is an imginary charitable organization that provides one time grants to people for certain kinds of needs.</p>
